# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [2]:
number = 6
print(number)

6

##### Assinging float

In [6]:
numberFloat = 2.3
print(numberFloat)
number_float = 2.5
print(number_float)

2.3
2.5

#### Performing Calculations on ints and floats

##### Addition

In [8]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

7.4

##### Subtraction

In [12]:
result_dif = num2 - num1
print(result_dif)
result_dif = 5 - 2
print(result_dif)

3.4000000000000004
3

##### Multiplication

In [14]:
result_mul = num1 * num2
print(result_mul)

10.8

##### Division

In [16]:
result_div = num2/num1
print(result_div)

2.7

##### Floor Division

In [18]:
result_floor = num2//num1
print(result_floor)

2.0

##### Modulo

In [22]:
result_mod = 10 % 3
print(result_mod)

1

##### Exponential

In [24]:
result_exp = 5 ** 2
print(result_exp)

25

### String Input-Output

##### String Assignment

In [26]:
name = 'Estefany'
print(name)

Estefany

##### print() <br>
<p>Don't forget about end=' '</p>

In [30]:
print('This is my first name: ', name)
print('Full name:', name, end=' Morales')

This is my first name:  Estefany
Full name: Estefany Morales

##### String Concatenation

In [32]:
first_name = 'John'
last_name = 'Smith'

full_name = first_name + ' ' + last_name
print(full_name)

John Smith

##### Type Conversion

In [40]:
number = '32'
changeTypeNum = int(number)
changeTypeNum += 5
print(changeTypeNum)

37

##### input()

In [46]:
# input always returns a string

# name = input('What is your name? ')
# print(name)

age = int(input('How old are you? '))
new_age = age + 1
print(new_age)

How old are you?  21

22

##### format()

In [50]:
age = input('What is your age? ')
name = input('What is your name? ')
result_string = "You are {}, you are {} years old and you are getting wiser!".format(name, age)
print(result_string)
print(f"You are {name} and you are {age} years old.")
print("You are", name, "and you are", str(age), "years old.")

What is your age?  23
What is your name?  Angel

You are Angel, you are 23 years old and you are getting wiser!
You are Angel and you are 23 years old.
You are Angel and you are 23 years old.

##### Old Way (python 2)

In [52]:
result_string2 = 'you are %s and you look great for your age!' %age
print(result_string2)

you are 23 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [58]:
color = input('What color is your car? ')
year = input('What year is your car? ')
make = input('What is the make of your car? ')
model = input('What is the model of your car? ')
print("You have a", year, color, make, model + "!")

What color is your car?  red
What year is your car?  2006
What is the make of your car?  honda
What is the model of your car?  accord

You have a 2006 red honda accord!

### If Statements

In [78]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=), Not equal (!=)
num1 = 5
num2 = 10

if num1 == num2:
    print('Equal values')
else:
    print('Not equal')

if num2 > num1:
    print("num2 greater")
elif num2 < num1:
    print("num2 less")
else:
    print("same")

Not equal
num2 greater

##### 'is' keyword

In [68]:
# use is when checking for same or similar object, NOT the same value
num3 = 55
num4 = num3
if num3 is num4:
    print("This is the same type or similar object.")

This is the same type or similar object.

##### 'in' keyword

In [70]:
char_name = 'Max Payne'

if "Max" in char_name:
    print("correct")

correct

##### 'not in' keyword'

In [72]:
if "Pain" not in char_name:
    print("You spelled it correctly")

You spelled it correctly

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [76]:
enter = input('Enter any word you like. ')
if 'p' in enter:
    print("Ha you put 'p' in there")
else:
    print("Interesting...")

Enter any word you like.  panic

Ha you put 'p' in there

## Using 'and'/'or' with If Statements

In [27]:
# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

first_name = "Max"
age = 11

# if first_name == "Smith":
#     print("The name is Smith")
# elif first_name != "Max":
#     print("The name is not Max")
# else:
#     print("The name is Max")

if first_name == "Max" and age == 10:
    print("Both True")
elif first_name == "Max" or age == 10:
    print("one or both are true")
else:
    print("Neither are true")

one or both are true

### Elif Statements

In [ ]:
# see above

### Else Statements

In [ ]:
# see above

### For Loops

In [33]:
# for item in iterable_thing:
    # do some stuff

name = 'Estefany Morales'

for letter in name:
    print(letter)

for num in range(10):
    print(num)

for letter in range(len(name)):
    print(letter)

E
s
t
e
f
a
n
y

M
o
r
a
l
e
s
0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [37]:
for i in range(20):
    if i == 5:
        continue # go to next loop, skip this one
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [39]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [64]:
for i in name:
    pass
# I will come back and finish this part of my code later!

##### Double For Loops

In [41]:
for i in range(5):
    for j in range(5):
        print("i = ", i, "j = ", j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [45]:
# while condition statement (something that is true or false):
    # do some stuff repeatedly

num = 0
while num < 10:
    print(num)
    num += 1


num = 0
while True:
    if num >= 10:
        break
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [62]:
game_over = False
while True:
    print("Infinite loop")
    if game_over == False:
        break

game_over = True
while game_over:
    print("Infinite loop")
    game_over = False

Infinite loop
Infinite loop

##### While & For Loops Used Together

In [54]:
num = 0

while num <= 5:
    print("\n While Loop Iteration: " + str(num))
    for i in range(2):
        print("For Loop Interation: " + str(i))
    num += 1

 While Loop Iteration: 0
For Loop Interation: 0
For Loop Interation: 1

 While Loop Iteration: 1
For Loop Interation: 0
For Loop Interation: 1

 While Loop Iteration: 2
For Loop Interation: 0
For Loop Interation: 1

 While Loop Iteration: 3
For Loop Interation: 0
For Loop Interation: 1

 While Loop Iteration: 4
For Loop Interation: 0
For Loop Interation: 1

 While Loop Iteration: 5
For Loop Interation: 0
For Loop Interation: 1

### Built-In Functions

##### range()

In [56]:
#range(start, stop, step)
for i in range(2, 20, 3):
    print(i)

2
5
8
11
14
17

##### len()

In [58]:
name = "Max"
length = len(name)
print(length)

3

##### help()

In [60]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [66]:
print(isinstance(4.5, int))

False

##### abs()

In [68]:
#absolute value
print(abs(-5))

5

### Try and Except

In [70]:
# use this whenever you expect to encounter a bug so that the error doesn't cause the program to stop
try:
    number_test = 0
    input_num = int(input("Guess a number: "))
    if input_num != number_test:
        input_num = input_num + number_test
        print("Your number is: " + str(input_num))
except:
    print("That did not work - ERROR: Please change your input to a number")

Guess a number:  0

### Lists

##### Declaring Lists

In [3]:
my_list = [] # empty list
names = ["Max", "Cindy", "Kathy", 5, "Nate"]
print(names)

['Max', 'Cindy', 'Kathy', 5, 'Nate']

##### Indexing a List

In [19]:
# single index
print(names[2])

# print last value no matter the size
print(names[len(names)-1])
print(names[-1])

# print starting at 1 going to the end
print(names[1:])

# print starting at beginning of list until whatever index we give it
print(names[:3])

# print from one index to another
print(names[2:4])

# print starting at index one going up by 2 for each iteration
print(names[1::2])

# print starting at the end and going down by 1 each time
print(names[::-1])

Kathy
Nate
Nate
['Cindy', 'Kathy', 5, 'Nate']
['Max', 'Cindy', 'Kathy']
['Kathy', 5]
['Cindy', 5]
['Nate', 5, 'Kathy', 'Cindy', 'Max']

##### .append()

In [41]:
names.append("Bob")
print(names)

['Max', 'Cindy', 'Kathy', 'Gabby', 5, 'Nate', 'Bob', 'Bob', 'Bob', 'Bob']

##### .insert()

In [25]:
names.insert(3, "Gabby")
print(names)

['Max', 'Cindy', 'Kathy', 'Gabby', 5, 'Nate', 'Bob', 'Bob']

##### .pop()

In [29]:
my_name = names.pop()
print(my_name)
print(names)

Bob
['Max', 'Cindy', 'Kathy', 'Gabby', 5, 'Nate']


##### .remove()

In [43]:
# value to be removed, not index
while 'Bob' in names:
    names.remove("Bob")
print(names)

['Max', 'Cindy', 'Kathy', 'Gabby', 5, 'Nate']

##### del()

In [45]:
# remove by index

del(names[1])
print(names)

['Max', 'Kathy', 'Gabby', 5, 'Nate']

##### Concatenating Two Lists

In [47]:
first_list = [0, 1, 2]
second_list = [3, 4, 5]
big_list = first_list + second_list
print(big_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [49]:
names = ['max', 'sam', 'josh', ['sally', 'sue', 'tameka']]
print(names)
print(names[3][1])

['max', 'sam', 'josh', ['sally', 'sue', 'tameka']]
sue

##### Looping Through Lists

In [51]:
# for loop using index
for i in range(len(names)):
    print(names[i])

# for loop and in
for name in names:
    print(name)

max
sam
josh
['sally', 'sue', 'tameka']
max
sam
josh
['sally', 'sue', 'tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [25]:
n = 0
cubed_num = 0
while cubed_num < 1000:
    cubed_num = n ** 3
    print(cubed_num)
    n += 1

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [17]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for i in range(2, 101):
    isPrime = True
    for j in range(2, i):
        if i % j == 0:
            isPrime = False
    
    if isPrime:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [9]:
age = int(input('What is your age? '))

if age < 18:
    print("kids")
elif age >=18 and age <= 65:
    print("adults")
else:
    print("seniors")

What is your age?  67

seniors